<div th:fragment="notifications">
    <div  th:each="notification: ${notifications}" class="row">
        <div class="col-md-8">
            <form method="POST" th:action="@{/rsameme/user/notification}" th:method="post">
                <input hidden name="notificationId" th:value="*{notification.id}">
                <button style="width:100%;font-size:15px;" type="submit" name="submit" value="value" class="btn btn-primary btn-lg active">
                    <a th:text="${notification.text}">Text</a>
                </button>
            </form>
        </div>
        <div class="col-md-4" style="margin-top:1%">
            <a disabled style="width:100%;font-size:15px;"  class="btn btn-secondary btn-lg active" th:text="${#dates.format(notification.addDate, 'yyyy-MM-dd HH:mm')}">Data</a>
        </div>
    </div>
    <div th:if="${notifications.size>0}">
        <a href="/rsameme/user/readAllNotification" class="link-info">Select all notification as read</a>
    </div>

</div>