<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml" xmlns="http://www.w3.org/1999/html">
<head>
    <meta charset="UTF-8">
    <title>RSA Meme Library</title>

    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
          integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
            integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
            crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
            integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
            crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
            integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
            crossorigin="anonymous"></script>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.8.1/font/bootstrap-icons.css">

    <style>
        body {
            background:#333;
        }

        img{
            max-height:800px;
            max-width:600px;
            height:auto;
            width:auto;
        }

    </style>
</head>
<body>
<div th:replace="fragments/topnav :: navbar"/>

<div style="margin-top:1%;text-align:center;" th:each="meme: ${memes}" class="row">
    <div class="col-md-2"></div>
    <div class="col-md-8 rounded" style="border-style: outset;">

        <div class="row">
            <div class="col-md-8" style="text-align:left">
            </div>
            <div class="col-md-4" style="text-align:right">
                <label style="color:white;text-align:right">Add Date</label>
                <label style="color:white;text-align:right" th:text="${meme.addDate}">Add Date : </label>
            </div>
        </div>
        <div class="row">
            <div class="col-md-8" style="text-align:left">
            </div>
            <div class="col-md-4" style="text-align:right">
                <label style="color:white;text-align:right" >Created Date : </label>
                <label style="color:white;text-align:right" th:text="${meme.created}">Created Date</label>
            </div>
        </div>

        <img style="margin-bottom:1%;" class="rounded" width="400" height="400"
             th:src="${meme.image}"/>

    </div>
    <div class="col-md-2"></div>
</div>

<div style="margin-bottom:1%;margin-top:1%;text-align:center;">
    <div class="row">
        <div class="col-md-5"></div>
        <div style="text-align:center;" class="col-md-2">
            <nav aria-label="Page navigation" class="paging" style="width:100%;text-align:center;">
                <ul class="pagination" th:if="${memePage.page.totalPages > 1}">
                    <li class="page-item" th:classappend="${!memePage.paging.isPrevEnabled()? 'disabled' : ''}">
                        <a class="page-link" th:href="@{${url}+'?pageNumber=' + ${memePage.paging.pageNumber - 1}}"
                           tabindex="-1">Previous</a>
                    </li>
                    <th:block th:each="item : ${memePage.paging.getItems()}">
                        <li class="page-item"
                            th:classappend="${item.index == memePage.paging.pageNumber? 'active' : ''}"
                            th:if="${item.pageItemType.name() == 'PAGE'}">
                            <a class="page-link" th:href="@{${url}+'?pageNumber=' + ${item.index}}"
                               th:text="${item.index}"></a>
                        </li>
                        <li class="page-item disabled" th:if="${item.pageItemType.name() == 'DOTS'}">
                            <a class="page-link" href="#">...</a>
                        </li>
                    </th:block>
                    <li class="page-item" th:classappend="${!memePage.paging.isNextEnabled()? 'disabled' : ''}">
                        <a class="page-link"
                           th:href="@{${url}+'?pageNumber=' + ${memePage.paging.pageNumber + 1}}">Next</a>
                    </li>
                </ul>
            </nav>
        </div>
        <div class="col-md-5"></div>
    </div>
</div>
</body>
</html>